@font-face {
  font-family: "Prata";
  src: url("/fonts/Prata-Regular.ttf");
}
@font-face {
  font-family: "Arial";
  src: url("/fonts/ofont.ru_Arial.ttf");
}
/*header styles start*/
.header {
  background-color: gainsboro;
}
.wrapper {
  margin: 0 auto;
  width: 783px;
  background-color: red;
}
.header__logo {
  font-family: "Prata";
  font-size: 36px;
}
.header__logo-link {
  color: #ffffff;
  text-decoration: none;
}
.header__link {
  text-decoration: none;
}
.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.header__list {
  display: flex;
  flex-wrap: wrap;
}
.header__item {
  margin-right: 29px;
}
.header__item:last-child {
  margin-right: 0;
}
.header__link {
  font-family: "Arial";
  font-size: 16px;
  color: #ffffff;
}
ul {
  list-style-type: none;
}

/*header styles end*/
